body {
  font-size: 14px;
}
body .content {
  margin-top: 6em;
}
body .content .contact {
  background-color: #eaeaea;
  border-radius: 10px;
  margin: 4px;
}
body .content .contact img.profile-image {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
