

body
    font-size 14px

    .content
        margin-top 6.5em

        .contact

            background-color #eaeaea
            border-radius 10px
            margin 4px

            img
                &.profile-image
                    margin 5px
                    width 60px;
                    height 60px;
                    border-radius 30px






